@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yesteryear&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e1c313;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.215);
}

header h1{
    font-family: 'Yesteryear', cursive;
    font-size: 2.5rem;
    color: #fd4d02;
   

}

.hero {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    

}

.box-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-img img{

    max-width: 90%;
}

.box-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px;
}

.box-text span{
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(143, 143, 143);
    letter-spacing: 2px;
}

.box-text h2{
    font-family: "DM Sans", sans-serif;
    font-size: 2rem;
    line-height: 35px;
    margin-top: 10px;
    color: #fd4d02;
    font-weight: bold;
}

.box-text p{
    margin-top: 10px;
    color: rgb(143, 143, 143);
}



.btn-hero{
    position: relative;
    max-width: 150px;
    padding: 10px;
    margin-top: 20px;
    background:#fd4d02  ;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .6s;

}

.box-img button a{
    color: rgb(143, 143, 143);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.box-img button:hover{
transform: scale(1.1);
background: #f86e33;

}

.cardapio{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sobremesa{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.cardapio-item{
    width: 93%;
    text-align: center;
    margin: 5px 5px;
    padding: 5px 5px;
    background: #f4e177;
    border-radius: 10px;
    transition: .7s;
    cursor: pointer;
}

.titulo{
    font-size: 1.2rem;
    display: flex;
    color: #fd4d02;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.cardapio-item strong{
    margin-top: 10px;
    color: #fd4d02;
}

.cardapio-item p{
    margin-top: 10px;
}

.cardapio-item:hover{
    transform: scale(1.05);
    color: rgb(143, 143, 143);;
}

footer{
    display: flex;
    width: 100vw;
    height: 80px;
    background: #e1c313;
    align-items:  center;
    justify-content: center;
}  

footer p{
    color: white; 
    font-size: 1.5rem;
}

@media screen and (min-width: 750px){
    header h1{
        font-size: 3rem;
    }
    .box-img, .box-text{
        display: flex;
        width: 100%;
        
    }
    .cardapio{
        display: flex;
        flex-flow: row;
        width: 100%;
        
        align-items: center;
        justify-content: center;



    }
    .sobremesa{
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px ;

    }

    .cardapio-item{
    width: 35%;
    height: 300px;

    }

    .titulo{
        
        position: absolute;
        margin-bottom: 345px;
    }

    .box-text{
        align-items: center;
        justify-content: center;
        max-width: 60%;
       
    }

    .box-text h2{
        font-size: 3rem;
        line-height: 45px;
    }

    .box-text span{
        font-size: 1.5rem;
        letter-spacing: 3px;
    }

    .box-text p{
        margin-top: 10px;
    }





}







